# Backend (javaapi)
javaapi/target/
javaapi/.mvn/wrapper/maven-wrapper.jar
javaapi/HELP.md

# Frontend (front)
front/node_modules/
front/dist/
front/dist-ssr/
front/*.local

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS ###
.DS_Store
Thumbs.db

### Uploads ###
uploads/
javaapi/uploads/

### Logs ###
*.log
