<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.springframework.org/schema/security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - Додаток">Головна</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="display-4 mb-4">
                            <i class="bi bi-house-door"></i> Ласкаво просимо!
                        </h1>
                        <p class="lead">
                            <span sec:authorize="!isAuthenticated()">
                                Будь ласка, <a href="/login">увійдіть</a> або 
                                <a href="/users/register">зареєструйтесь</a> для роботи з додатком.
                            </span>
                            <span sec:authorize="isAuthenticated()">
                                Вітаю, <span sec:authentication="name"></span>!
                                Ви можете <a href="/users/list">переглянути користувачів</a> або 
                                <a href="/users/register">додати нового</a>.
                            </span>
                        </p>
                        
                        <div sec:authorize="!isAuthenticated()" class="row mt-4">
                            <div class="col-md-6">
                                <a href="/login" class="btn btn-outline-primary btn-lg w-100">
                                    <i class="bi bi-box-arrow-in-right"></i> Вхід
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/users/register" class="btn btn-primary btn-lg w-100">
                                    <i class="bi bi-person-plus"></i> Реєстрація
                                </a>
                            </div>
                        </div>

                        <div sec:authorize="isAuthenticated()" class="row mt-4">
                            <div class="col-md-4">
                                <a href="/users/list" class="btn btn-primary btn-lg w-100">
                                    <i class="bi bi-list-ul"></i> Список користувачів
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/users/register" class="btn btn-success btn-lg w-100">
                                    <i class="bi bi-person-plus"></i> Додати користувача
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="/logout" class="btn btn-outline-danger btn-lg w-100">
                                    <i class="bi bi-box-arrow-right"></i> Вихід
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
